<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test GIF</title>
</head>
<body>
    <h1>Testing GIF</h1>
    <!-- https://drive.google.com/file/d/1vIrPralJ5FJfO6ZQOpprScU3DFkR3tvb/view?usp=drive_link -->
    <!-- https://drive.google.com/file/d/1epUwh-alljFKfcPWfLMmT_1iifZj6_ln/view?usp=sharing -->
    <!-- https://drive.google.com/file/d/1uGumrmQZ9KZ5od0MdODLE9XlObXgA7F-/view?usp=sharing -->

    <img src="https://drive.google.com/file/d/13yQu1WBXZoROxbMK_v36_GFdP7h3YCZ7/view" alt="Fuck">
    <!-- <iframe src="https://github.com/JackCornette/portfolio_assets/blob/main/about.gif" width="640" height="480" allow="autoplay"></iframe> --> -->
    <!-- <video width="320" height="240" controls>
        <source src="https://github.com/JackCornette/portfolio_assets/about.gif" type="video/mov">
        Your browser does not support the video tag.
    </video> -->
</body>
</html>